.body {
  background-color: gray;
}
.squareParent {
  display: flex;
  flex-wrap: wrap;
  height: 31px;
  width: 258px;
  background-color: black;
}
.squareChild {
  margin: 0.5px;
  width: 30px;
  height: 30px;
  background-color: green;
  text-align: center;
  line-height: 30px;
  user-select: none;
}
.inSquare {
  margin: auto;
  margin-top: 2px;
  width: 26px;
  height: 26px;
  background-color: green;
}
.squareColorWhite {
  border-radius: 15px;
  color: white;
  background-color: white 
}
.squareColorBlack {
  border-radius: 15px;
  color: black;
  background-color: black
}
