.squareParent {
  display: flex;
  flex-wrap: wrap;
  height: 32px;
  width: 258px;
  background-color: green;
}

.square {
  width: 30px;
  height: 30px;
  background-color: green;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
  line-height: 30px;
  user-select: none;
}

.squareColorWhite {
  border-radius: 15px;
  color: white;
  background-color: white 
}
.squareColorBlack {
  border-radius: 15px;
  color: black;
  background-color: black
}
